<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--sqlserver--><!--
  <connectionStrings>
    <add name="conStr" connectionString="server=.;database=WaveToImage;Integrated Security=True"/>
  </connectionStrings>-->
  <!--mysql-->
  <connectionStrings>
    <add name="mySqlConStr" connectionString="server=127.0.0.1;database=WaveToImage;user id=root;password=123456;"/>
  </connectionStrings>
</configuration>